.order-design{
    margin-top: 50px;
    // margin-left: 25px;
    // margin-right: 25px;
    .border{
    // width: 350px;
    border-radius:10px ;
    h1{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
    }
    p{
        color:white;
        text-align: center;
    }
}
}

.corner-design{
    width: 56px;
    height: 48px;
    text-align: center;
 
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
  
    mat-icon{
    text-align: center;
    margin-top: 10px;
    color: white;
    }
}