.as-item{
    text-align: center;
    background: #ffffff;
    padding: 35px 35px 30px 35px;
    box-shadow: 0px 3px 15px rgb(91 91 91 / 15%);
}
.profile_images{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70px;
    border: 2px solid lavender;
}

.example-viewport {
    height: 550px;
    width: 100%;
    }

  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    width: 4px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

  .hover:hover{
    background:whitesmoke;
  }